@import "tailwindcss";

@theme {
  --color-negro-profundo: #1e1e1e;
  --color-blanco-hueso: #faf8f5;
  --color-arena-claro: #f2ece6;
  --color-beige: #ddd2c6;
  --color-terracota: #d67b58;
  --color-verde-salvia: #8f9c87;
}
